@charset "utf-8";
.banner{
	width: 100%;
	height: 200px;
	text-align: center;
	margin: 0 auto;
}
.navigation{
	width: 100%;
	height: 60px;
	background-color: #0099FF;
	text-align: center;
	margin: 0 auto;
	border-bottom: thin solid black;
	border-top: thin solid black;
}
.navigation li{
	list-style-type: none;
	padding: 20px;
	display: inline;
	font-size: 18px;
	line-height: 3.4;
	border-right: solid thin black;
}
.leftline{
	border-left: solid thin black;
}
.artistimg {
	text-align:left;
	padding-top: 10px;
	padding-left: 20px;
	border: solid thin black;
	margin-top: 10px;
	margin-left:10px;
}
.artisttitle{
	text-align:left;
	font-weight: bolder;
	font-size: 30px;
	margin-top: 0;
	padding-left: 22px;
	margin-left:5px;
}
.artisttext{
	width: 500px;
	text-align: left;
	height: 100%;
	padding-left: 3px;
	margin-top:-5px;
	padding-right:3px;
	font-size: 17px;
}
.artistbutton{
	width:180px;
	height: 50px;
	border: solid black 2px;
	background-color: #0099FF;
	text-align: center;
	line-height: 1.5;
	font-size: 30px;
	font-weight: bolder;
	margin-left: 18px;
	margin-top: -20px;
}
body{
	margin:0;
}
.content{
	height:100%;
	top: 262px;
	bottom: 29px;
	right:0;
	left: 0;
	position: absolute;
	text-align: left;
	border-left: thick solid black;
	border-right: thick solid black;
	width:720px;
	margin: 0 auto;
	padding-bottom: 20px;
}
.copyright{
	width: 100%;
	height: 30px;
	position: fixed;
	bottom: 0;
	background-color: #0099FF;
	border-top: thin solid black;
	text-align: center;
	line-height: 1.5;
}