@charset "utf-8";
.banner{
	width: 100%;
	height: 205px;
	text-align: center;
	margin: 0 auto;
	background-color: white;
	margin-bottom: 0px;
}
.navigation{
	width: 100%;
	height: 60px;
	background-color: #0099FF;
	text-align: center;
	margin: 0 auto;
	border-bottom: thin solid black;
	border-top: thin solid black;
	font-family: Gotham, Helvetica Neue, Helvetica, Arial," sans-serif";
	padding-left: 0px;
}
.navigation li{
	list-style-type: none;
	padding: 20px;
	display: inline;
	font-size: 18px;
	line-height: 3.4;
	border-right: solid thin black;
}
.leftline{
	border-left: solid thin black;
}
.artistimg {
	margin-top:68px;
	text-align:left;
	border: solid thin black;
	margin-left:15px;
}
.artisttitle{
	text-align:center;
	font-weight: bolder;
	font-size: 30px;
	margin-top: 0;
	padding-left: 15px;
	width:179px;
	font-family: Gotham, Helvetica Neue, Helvetica, Arial," sans-serif";
}
.artisttext{
	padding-top: 50px;
	width: 70%px;
	text-align: justify;
	height: 100%;
	padding-left: 1.5em;
	padding-right:1.5em;
	font-size: 17px;
	border-left: solid 0.2em black;
	position: absolute;
	margin-left:15px;
	font-family: Gotham, Helvetica Neue, Helvetica, Arial," sans-serif";
}
.artistbutton{
	width:180px;
	height: 50px;
	border: solid black 2px;
	background-color: #0099FF;
	text-align: center;
	line-height: 1.5;
	font-size: 30px;
	font-weight: bolder;
	margin-left: 18px;
	margin-top: -20px;
	font-family: Gotham, Helvetica Neue, Helvetica, Arial," sans-serif";
}
body{
	margin:0;
}
.content{
	height:100%;
	top: 267px;
	bottom: 29px;
	right:0;
	left: 0;
	position: absolute;
	text-align: left;
	border-left: thin solid black;
	border-right: thin solid black;
	width:70%;
	margin: 0 auto;
	padding-bottom: 20px;
	background-color: white;
}
/* Shadow on the left*/
.contentleft{
	border-left: black 1px solid;
	box-shadow: -2px 0px 2px #888;
	height: 100%;
}
/*Shadow on the right*/
.contentright{
	border-right: black 1px solid;
	box-shadow: 2px 0px 2px #888;
	height: 100%;
}
.copyright{
	width: 100%;
	height: 30px;
	bottom: 0;
	position: absolute;
	background-color: #0099FF;
	border-top: thin solid black;
	text-align: center;
	line-height: 1.5;
	z-index: 1;
}
.artistpage{
	position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
}
body{
	background-color: blanchedalmond;
}